#manage-listings-page {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}

#top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #D3D3D3;
    background-color: white;
    height: 40px;
}

#leftHeader {
    margin-left: 20px;
    display: flex;
    width: 18%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#leftHeader > span > a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#leftHeader > span:hover {
    color: #D3D3D3;
}


#leftHeader > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}


#add-listing-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Lato', serif;
    width: 8%;
    height: 75%;
    margin-right: 20px;
}


#listingGrid {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
    
}

#manageProdCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: calc(100% * (1/4) - 10px - 1px);
    flex-grow: 1;
    background-color: white;
    border: 1px solid #D3D3D3;
}

#manageProdCard:hover  {
    cursor: pointer
}


#clickFormArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 90%;
    width: 100%;
}


#manageImageDiv {
    width: 100%;
    height: 90%;
    border: 1px solid white;
}

#manageProdImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#manageProdTitle, #manageProdPrice {
    width: 95%;
    height: 5%;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#manageProdTitle > h4 {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 16px;
}

#manageProdPrice > p {
    font-family: 'Lato', sans-serif;
    color: gray;
    font-size: 14px;
}
/* font-family: 'Lato', sans-serif; */
/*  font-family: 'Lato', serif;*/

#trashDiv {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
    padding: 5px;
    height: 8%;
    border-top: #D3D3D3 solid 1px;
}


.fa-trash-can {
    color: gray;
    font-size: 15px;
    border-radius: 7px;
    margin: 8px;
}

.fa-trash-can:hover {
    background-color: red;

}