#cart-page {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 100vh;
  width: 100vw;
  /* background-color: aquamarine; */
}

#main-content {
  display: flex;
  justify-content: center;
  width: 70vw;
  gap: 5px;
  /* background-color: blueviolet; */
  height: 100%;
}

#cart-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: pink; */
  width: 70%;
  height: 100%;
}

#cart-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: yellow; */
  width: 30%;
  height: 100%;
}

#no-cart-page-div {
  height: 62.5vh;
}

.cart-item-header {
  font-size: 27px;
  line-height: 36px;
}

.link-cart {
  padding-top: 7px;
  font-size: 17px;
  line-height: 36px;
  background-color: white;
}

.link-cart:hover {
  text-decoration: underline;
  font-weight: bold;
}

#sub-main-no-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: border-box;
  padding: 10px;
  /* background-color: blue; */
}

#cart-item-user {
  display: flex;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
  align-items: center;
  gap: 5px;
  background-color: white;
  box-sizing: border-box;
  padding-left: 15px;
  font-family: "Lato", sans-serif;
}

#item-content {
  display: flex;
  gap: 5px;
  height: 80%;
  width: 100%;
  gap: 15px;
  background-color: white;
}

#cart-item-image {
  width: 25%;
  height: 100%;
  border-radius: 15px;
  /* background-color: hotpink; */
}

#cart-item-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  /* background-color: cyan; */
}

#cart-item-title {
  width: 25%;
  height: 100%;
  /* background-color: magenta; */
}

#cart-item-count {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  /* background-color: rgba(236, 20, 20, 0.658); */
}

#cart-item-price {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* background-color: chartreuse; */
}

.cart-item-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.amount-cart {
  padding: 20px 5px;
  font-size: 27px;
  line-height: 36px;
}

.amount-item-input {
  margin-left: 5px;
  width: 40px;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  background-color: black;
  color: white;
  font-size: 15px;
}

#count-text {
  font-size: 20px;
}

#cards,
#paypal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

#cards > input[type="radio"],
#paypal > input[type="radio"] {
  display: inline;
}

#cards > img,
#paypal > img {
  height: 50px;
}

#paypal {
  margin-top: -9px;
  margin-bottom: 30px;
}

#checkout {
  width: 90%;
}

#total-div,
#subtotal-div {
  display: flex;
  justify-content: space-between;
}

#total-div {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 30px;
}

#subtotal-div {
  margin-bottom: 40px;
}

#sub-right-div {
  box-shadow: 0 0 5px 2px grey;
  border: 2px solid white;
  border-radius: 15px;
  padding: 12px;
  margin-left: 20px;
  margin-top: 80px;
  width: 100%;
  height: fit-content;
}

#purchase-button {
  padding: 12px 95px;
  border-radius: 8px;
  margin: 5px 0px 25px 0px;
  background-color: black;
  color: white;
  font-weight: 600;
}

#form-div {
  display: flex;
  justify-content: center;
  align-content: center;
}
