[requires]
python_version = "3.8"

[packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
