.photo-preview-ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 66px;
}

.photo-preview-ul li {
    width: 66px;
}

.product-preview-block-img {
    box-sizing: border-box;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.selected-image-true {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
}

.photo-gallery-view {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.main-gallery-image {
    object-position: top;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    box-sizing: border-box;
}