#petTypePage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 100px;
    margin-top: 40px;
}

#petTypeHeader {
    background-color: #F8EBE6;
    height: 200px;
}