@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lora:wght@400;500&display=swap');


div#root > *:first-child { margin-top: -15px; background-color: white; width: 100%; 
}

a:hover, button:hover {
    cursor: pointer;
}

a {
    color: black
}

