.main-auth-user-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: white;
  height: fit-content;
  padding: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
}

.auth-user-buttons,
.demo-button {
  padding: 12px 95px;
  border-radius: 8px;
  margin: 5px;
  background-color: black;
  color: white;
  font-weight: 600;
}

/* .auth-user-buttons:hover,
.demo-button:hover {
} */

.auth-input-containers {
  width: fit-content;
  padding: 10px;
}

.errors-div {
  padding-bottom: 17px;
  color: red;
}

.single-error-div {
  padding-bottom: 10px;
}

.auth-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
}

.auth-user-div {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

#repeat-password-input {
  margin-right: -52px;
}

#username-label {
  margin-right: -8px;
}

.email-label {
  margin-right: 22px;
}

.auth-email-container {
  padding-bottom: 5px;
}

.form-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
}

.form-title-2 {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
}

#auth-button {
  padding: 12px 12px;
  border-radius: 24px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 140px;
}

#auth-login-button {
  padding: 12px 12px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 38px;
}

#auth-button:hover,
#auth-login-button:hover {
  background-color: black;
  border-color: transparent;
  color: white;
}

#sub-auth-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 43px;
}

