
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

#purchasesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEB;
    height: 100%;
    padding-bottom: 40px;
}

#purchaseCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: white;
    margin-top: 20px;
    height: 35vh;
    border: solid 1px #d3d3d3;
}

#purchasedBy {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F1;
    padding: 10px;
}


#purchasedBy > * {
   color: gray;
}


#purchasedItem{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    padding: 5px;

}

#purchaseItemImageDiv {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#purchasedImg {
    height:80%;
    width: 80%;
    border-radius: 5px;
    object-fit: cover;
    border: solid 1px #d3d3d3;
}

#purchasedItemInfo {
    width: 75%;
}

#purchasedItemInfo > a {
   font-size: 2.5vh;
   font-family: 'Lato', sans-serif;

}

#purchaseReview{

    width: 95%;
    height: 40%;
    background-color: #F5F5F1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;

}

#buyAgainDiv{
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

#buyAgainButton {
    background-color: black;
    color: white;
    padding: 8px;
}