#purchasesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegoldenrod;
    height: 100vh;
}

#purchaseCard{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: red;
}

#purchasedBy{
    background-color: palegreen;
}

#purchasedItem{
    background-color: palevioletred;
}

#purchaseReview{
    background-color: purple;
}


#buyAgainDiv{
    background-color: paleturquoise;
    width: 100%;
}