#not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.not-found-image-container{
    display: block;
    /* position: relative; */
    height: 500px;
    width: 700px;
    /* object-fit: contain;
    object-position: center; */
}

.not-found-image-container > img {
    position: relative;
    object-position: bottom;
    object-fit: cover;
    height: 500px;
    width: 700px;
    /* margin: auto; */
    /* height: 100%; */
}

#not-found-container > h2 {
    font-size: 24px;
}

#not-found-container > a {
    font-size: 20px;
    margin-top: 10px;
}

#not-found-container > a:hover {
    text-decoration: underline;
}