.review-raving {
  display: flex;
  flex-direction: row;
}

.reviews-item-button,
.reviews-seller-button {
  display: flex;
  flex-direction: row;
}

.reviews-title-bar {
  display: flex;
  flex-direction: row;
}

.reviews-body-div {
  width: 92%;
}

.single-review-container-div{
  box-sizing: border-box;
  height: auto;
  min-height: 200px;
  width: 100%;
  background-color: rgb(228, 196, 201);
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.review-buyer-header {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.overflow-review {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review-ellipsis-button{
  position: absolute;
  right: -25px;
  bottom: 0;
}

.review-content-div {
  position: relative;
}

.review-content-false {
  width: 100%;
}

.review-content-true {
  width: 100%;
}

.review-image {
  height: 140px;
  width: 140px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 10px;
}

.review-right-side-photo {
  width: 30%;
  height: 100%;
  text-align: end;
  margin: 10px;
}

.review-left-side {
  width: 70%;
  height: 100%;
  padding: 10px;
}

.total-avg-reviews-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-avg-reviews-div > h2 {
  font-size: 30px;
  padding-right: 10px;
}

.date-review{
  font-size: 10px;
  margin: 0px 4px;
}

.tiny-seller-review-photo {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
/* 
.reviews-page-buttons-div {
  position: absolute;
  top: 10px;
}

.reviews-overflow-page-buttons {
  display: block;
  position: static;
  background-color: pink;
} */

.reviews-map-div {
  width: 100%;
  overflow: hidden;
}