@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lora:wght@400;500&display=swap');

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listing-form {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

#listing-form > * {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#listing-form > label {
    font-weight: bold;
}

#listing-form > * > input, 
#listing-form > * > select {
    margin-top: 5px;
    padding: 10px 15px;
}

#handmade-checkbox {
    max-width: 15px;
}

#add-additional-detail {
    cursor: pointer;
    background-color: black;
    color: white;
    width: 175px;
    height: 25px;
    text-align: center;
    line-height: 20px;
}

#product-description {
    resize: none;
    height: 450px;
    margin-top: 5px;
    padding: 10px 15px;
}

#submit-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#submit-buttons-container > * {
    width: 50%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    line-height: 50px;
    margin: 15px;
}

#picture-preview-container {
    max-width: 750px;
}

#picture-preview {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

#picture-preview > * > img {
    margin-right: 10px;
    border: 1px solid black;
}

.picture-preview-node {
    position: relative;
    display: inline-block;
}

#delete-picture {
    margin: 0 10px;
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.picture-preview-node:hover > #delete-picture {
    visibility: visible;
}

#error {
    margin: 0;
    font-family: Lora;
    color: red;
    font-size: 16px;
}